.navbar {
  margin-bottom: 40px;
  background-color: rgba(237, 237, 237, 0.95);
}

#add-countries-image {
  width: 100%;
  height: 100%;
}

.error-container {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.match-table {
  width: 100%;
  table-layout: fixed;
}

.match-table td {
  padding: 10px;
  vertical-align: top;
}

.match-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.match-info {
  flex: 3;
  margin-right: 10px;
}

.match-img {
  flex: 1;
  text-align: right;
}

.match-img img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

.match-block p {
  margin-bottom: 5px;
}

.match-block p.title {
  font-weight: bold;
}

.stats-tabs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.stats-tabs button {
  background-color: rgb(231, 227, 237);
  color: rgb(14, 14, 14);
  padding: 4px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.stats-tabs button:hover {
  background-color: rgba(55, 0, 179, 1);
}

.list-group-item p {
  margin-bottom: 5px;
}

.match-info p {
  margin-bottom: 5px;
}
